<div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Add Funds</h2>
        </div>
        <div class="col-lg-2 right">
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-3">
                            <label class="label">Amount</label>
                            <input type="number" [(ngModel)]="investAmount" (keyup)="calculate()" class="form-control">
                            
                        </div>
                        <div class="col-lg-3">
                            <button class="btn btn-primary" style="margin-top: 17px;" (click)="submit();">Deposit</button>
                        </div>
                        <div class="col-lg-12">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Asset</th>
                                        <th>Estimation Rent</th>
                                        <th>ROI Yearly</th>
                                        <th>Expected Revenue Yearly</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let property of properties">
                                        <td>{{ property.title }}</td>
                                        <td>&euro;{{ property.estimationRent }}</td>
                                        <td>{{property.roi}}%</td>
                                        <td>&euro;{{ property.expectedRevenue }}</td>
                                    </tr>
                                </tbody> 
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

