<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Portfolio</h2>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">

        <div class="col-md-4">
            <div class="ibox">
                <div class="ibox-content product-box">
                    <a routerLink="/property/1" style="color: #000">
                        <div class="product-imitation">
                            <img src="https://www.remuproperties.com/Cyprus/imgHandler.ashx?ref=28305&order=0&serial=0" class="img-responsive">
                        </div>
                        <div class="product-desc" style="width: 100%;">
                            <div style="width:100%">
                                <h5>One-Bedroom Apartment (No.105) in Finikoudes, Larnaca</h5>
                            </div>
                            <div class="product-head mb-3">
                                <div class="priceEstimation">Value: <b>&euro;292,000</b></div>
                                <div class="estimationRent">Rent Revenue: <b>&euro;1,200</b></div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="ibox">
                <div class="ibox-content product-box">
                    <a routerLink="/property/2" style="color: #000">
                        <div class="product-imitation">
                            <img src="https://www.remuproperties.com/Cyprus/imgHandler.ashx?ref=27345&order=0&serial=0" class="img-responsive">
                        </div>
                        <div class="product-desc" style="width: 100%;">
                            <div style="width:100%">
                                <h5>Two-Bedroom Apartment (No.301) in Kamares, Larnaca</h5>
                            </div>
                            <div class="product-head mb-3">
                                <div class="priceEstimation">Value: <b>&euro;250,000</b></div>
                                <div class="estimationRent">Rent Revenue: <b>&euro;1,050  </b></div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="ibox">
                <div class="ibox-content product-box">
                    <a routerLink="/property/3" style="color: #000">
                        <div class="product-imitation">
                            <img src="https://www.remuproperties.com/Cyprus/imgHandler.ashx?ref=28744&order=0&serial=0" class="img-responsive">
                        </div>
                        <div class="product-desc" style="width: 100%;">
                            <div style="width:100%">
                                <h5>Three-Bedroom Apartment (A12) in Acropolis, Nicosia</h5>
                            </div>
                            <div class="product-head mb-3">
                                <div class="priceEstimation">Value: <b>&euro;241,000</b></div>
                                <div class="estimationRent">Rent Revenue: <b>&euro;1,100</b></div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>